<p>
	<label for="preg" class="rem">Pregunta:</label>
	<% 
		var pregValue = "";
		var pregPlaceholder = quiz.pregunta;
		if (quiz.pregunta != "Pregunta"){
			pregValue = quiz.pregunta;
			pregPlaceholder = "";
		}
	%>
	<input type="text" id="preg" name="quiz[pregunta]" value="<%= pregValue %>" placeholder="<%= pregPlaceholder %>"/>
</p>
<p>
	<label for="resp" class="rem">Respuesta:</label>
	<% 
		var respValue = "";
		var respPlaceholder = quiz.respuesta;
		if (quiz.respuesta != "Respuesta"){
			respValue = quiz.respuesta;
			respPlaceholder = "";
		}
	%>
	<input type="text" id="resp" name="quiz[respuesta]" value="<%= respValue %>" placeholder="<%= respPlaceholder %>" />
</p>

<a href="/quizes">
	<button type="button">Cancelar</button>
</a>

<input type="submit" value="Salvar">